/* .back-red {
  background-color: red !important;
}

.back-blue {
  display: block;
  background-color: blue;
  color: whitesmoke;
  margin: 10px;
} */

/* .animation-1 {
  background-color: green;
  color: white;
  animation: color-change 5s forwards;
} */

/* @keyframes color-change {
  /* from {
    background-color: red;
  }
  to {
    background-color: blue;
  } */
/* 0% {
    background-color: red;
    transform: translateY(0);
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: green;
    transform: translateY(100px);
  }
} */
