.responsive {
  /* display: flex;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 300px;
  /* height: 300px;
  width: 800px;
  background-color: red;
  color: white;
  font-size: 60px;
  padding: 10px; */
}

/* @media screen and (max-width: 900px) {
  .responsive {
    width: 500px;
  }
} */

/* @media screen and (min-width: 1000px) {
  .responsive {
    width: 500px;
  }
} */

/* .back-red {
  background-color: red !important;
}

.back-blue {
  display: block;
  background-color: blue;
  color: whitesmoke;
  margin: 10px;
} */

/* .animation-1 {
  background-color: green;
  color: white;
  animation: color-change 5s forwards;
} */

/* @keyframes color-change {
  /* from {
    background-color: red;
  }
  to {
    background-color: blue;
  } */
/* 0% {
    background-color: red;
    transform: translateY(0);
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: green;
    transform: translateY(100px);
  }
} */
